@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#063d1e;

    --font-android: 'android', cursive;
    --font-destaque: 'Bebas Neue', cursive;
}

body{
    background-color: gray;
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    height: 150px;
}
header h1{
    color: white;
    text-shadow: 0px 1px 4px black;
    font-family: var(--font-destaque), cursive;
    font-size: 3em;
}
header p{
    color: white;
    text-shadow: 0px 1px 4px black;
    font-size: 1.2em;
    text-align: center;
}

nav{
    background-color: #063d1e;
    padding-top: 10px;
    height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.336);
    }

nav a{
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 4px rgb(0, 0, 0);
    font-weight: bold;
}

nav a:hover{
    background-color: var(--cor3);
    border-radius: 5px;
}

main{
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.699);
    min-width: 250px;
    max-width: 800px;
    padding: 20px;
    margin: auto;
}
main h1{
    font-size: 1.7em;
    font-family: var(--font-android);
    color: var(--cor4);
    padding-left: 8px;
    font-weight: normal;
}

main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    background-image: linear-gradient(to  right, var(--cor2) , transparent);
    text-indent: 8px;
    font-weight: normal;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 15px;
    line-height: 1.5em;
}

main a{
    text-decoration: none;
    color: #063d1e;
    text-decoration: underline;
}
main img{
    width: 100%;
}
main article img#bugdroid{
    width: 55%;
    display: block;
    margin: auto;
}
div.video{
padding-bottom: 56%;
position: relative;
}
div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    border-radius: 5px;
}

aside h3{
    color:white;
    text-shadow: 0px 1px 4px black;
    background-color: #063d1e;
    border-radius: 4px;
    height: 30px;
    padding-top: 4px;
    padding-left: 8px;
    margin-top: 10px;
}

aside p{
    padding: 8px;
}

aside ul{
    list-style: inside;
    columns: 2;
    padding-left: 50px;
}

abbr{
    text-decoration: underline;
}

footer{
    background-color: #063d1e;
    text-align: center;
    color: white;
    font-family: var(--font-destaque), cursive;
    font-size: 0.9em;
}



